steps:
  - uses: actions/checkout@v4

  - name: Setup Node.js
    uses: actions/setup-node@v4
    with:
      node-version: 18
      cache: npm

  - name: Install dependencies
    run: npm ci

  - name: Build
    run: npm run build

  - uses: FirebaseExtended/action-hosting-deploy@v0
    with:
      repoToken: ${{ secrets.GITHUB_TOKEN }}
      firebaseServiceAccount: ${{ secrets.FIREBASE_SERVICE_ACCOUNT_REMEMBER_ME_C8DA6 }}
      channelId: live
      projectId: remember-me-c8da6
